body {
  max-width: 90%;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: auto;

  font-family: 'Open Sans', sans-serif;

  line-height: 1.9;
  font-size: medium;
  color: #2C3E50;
  
  background: -webkit-linear-gradient(79deg, rgb(211, 227, 241), rgb(82, 131, 180));
  background: linear-gradient(79deg, rgb(211, 227, 241), rgb(82, 131, 180));


  background-image: url("02.jpg");
  
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: cover;

}

h1 {
  color: darkred;
}

p, ul {

  font-family: Garamond, serif;
  line-height: 1.9;
  font-size: medium;
  color: #2C3E50;

}

blockquote.human {
  margin: 80px;
  font-size: 160%;
  background-color: WhiteSmoke; 
  border-left-style: solid;
  border-left-width: 3px;
  border-left-color: firebrick;
  padding: 30px;

}


a:link {
  color: DodgerBlue;
}

a:visited {
  color: RoyalBlue;
}

a:hover {
  color: PowderBlue;
}

i.farmer {
  background-color: WhiteSmoke; 
  border-left-style: solid;
  border-left-width: 3px;
  border-left-color: green;
}

i.villagers {
  background-color: WhiteSmoke; 
  border-left-style: solid;
  border-left-width: 3px;
  border-left-color: orange;
}

header > h2 {
  background-color: yellow;
}


.good
{
  text-transform: capitalize;
  color: green;
}

.bad {
  text-transform: capitalize;
  color: red;
}

table {
  border: 1px solid black;
  table-layout: auto;
  width: 100%;
}

th,td {
  border: 1px solid black;
}

/* Table */

.white
{
  background-color: white;
}
.grey {
  background-color: grey;
}

/* List */

#first {
  background-image: url("bien.png");
  padding-right: 300px;
  background-repeat: no-repeat;
  background-position: 250px;
  background-size: 25px;
}

#second {
  background-image: url("mal.png");
  padding-right: 20px;
  background-repeat: no-repeat;
  background-position: 250px;
  background-size: 25px;
}

#third {
  background-image: url("chat.png");
  padding-right: 200px;
  background-repeat: no-repeat;
  background-position: 250px;  
  background-size: 25px; 
}

figure {
  float: right;
  margin: 30px;
}

img {
  width: 450px;
}

.notification{

  float: right;
  right: 0;
  position: fixed;
  background:#FFFFDD;
  padding:.5rem 1rem;
  border:3px solid #DDDDCC;
  width:250px;
  font-weight:bold;
  color: #333300;
  
  
}

